extends layout

block content
  .container(ng-controller='oysterController')

    h1
      a(href='/', class='awshucks-header') AW SHUCKS
    
    h3= message
    h2= error.status
    pre #{error.stack}
