extends layout

block content
  .container(ng-controller='oysterController')

    h1
      a(href='/', class='awshucks-header') AW SHUCKS
    
    if (!user)
      .row
        .six.columns
          a(href='/login', class='button') LOGIN
        .six.columns
          a(href='/register', class='button') REGISTER
    if (user)
      .row
        .twelve.columns
          h4(class='welcome-header') WELCOME #{user.username}
      .row
        .twelve.columns
          a(href='/oysters', class='button') OYSTERS
      //- .row
      //-   .twelve.columns
      //-     a(href='/profile', class='button') PROFILE
      .row
        .twelve.columns
          a(href='/logout', class='button') LOGOUT
