doctype html
html
  head
    title AW SHUCKS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/fonts/webfontkit-20160211-160934/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/fonts/webfontkit-20160211-163022/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/fonts/webfontkit-20160211-164128/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/fonts/webfontkit-20160211-164222/stylesheet.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='http://code.jquery.com/jquery.js')
