extends layout

block content
  .container(ng-controller='oysterController')

    h1
      a(href='/', class='awshucks-header') AW SHUCKS
    
    h4(class='login-header') LOGIN
    
    form(role='form', action='/login', method='post', style='max-width: 300px')
      .row
        .twelve.columns
          input(class='u-full-width', type='text', name='username', placeholder='enter username')
      .row
        .twelve.columns
          input(class='u-full-width', type='password', name='password', placeholder='password')
      .row
        .six.columns
          button(class='u-full-width', type='submit', class='button') SUBMIT
        .six.columns
          a(href='/')
            button(type='button', class='button') CANCEL
