extends layout

block content
  .container()

    h1
      a(href='/', class='awshucks-header') AW SHUCKS
    
    h4(class='profile-header') PROFILE
    
    .oyster-list()
      //- h5 {{account.name}}
      //- h6 {{account.username}}
      //- h6 {{account.zipcode}}
      //- h6 {{account.fav_oysters}}
